{% extends "head.html" %}
{% block content-detail %}
<script type="text/javascript" charset="utf-8" src="/public/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/js/simple_editor.js"></script>
<div class="container">
  <div class="row show-grid">
  <div class="span12">
   <ul class="breadcrumb">
    <li>
      <a href="/">首页</a>
      <span class="divider" >/</span>
    </li>
    <li class="active">添加日记</li>
   </ul>
  </div>
  </div>
  <div class="row show-grid">
  <div class="span8">
  <div class="panel">
    <div class="diary-head">
      <span class="label label-info">
        <strong>2012年8月26日 星期日 多云</strong>
      </span>    
    </div>
   <div class="ul" ></div>
   <form method="POST" action="" enctype="multipart/form-data">
     <fieldset>
       <input type="hidden" name="action" value="add" />
       <input type="hidden" name="weather" value="cloudy" />
       <div class="control-group">
         <div class="controls">
           <input type="text" class="input-xlarge" id="title" name="title" style="width:82%" placeholder="你的日记标题"/>
           <small class="help-block">字数控制在2-40个之间</small>
         </div>
       </div>
       <div class="control-group">
         <div class="controls">
           <textarea class="input-xlarge" id="content" name="content" placeholder="你的日记内容" style="width:100%;height:250px;visibility:hidden;"></textarea>
           <small class="help-block">字数控制在2-4000个之间</small>
         </div>
       </div>            
       <div class="control-group">
         <div class="controls">
           <select name="type">
             <option value="1">公开</option>
             <option value="1">私密</option>
           </select>
           <small class="help-block">公开日记所有用户将可以浏览，私密日记只有你自己品尝</small>
         </div>
       </div>            
       <div class="control-group">
         <div class="controls">
           <input type="file" class="input-file" id="up_img" name="up_img" placeholder="上次你喜欢的图片" />
           <small class="help-block">图片大小控制在2M以内</small>
         </div>
       </div>            
       <div class="control-group">
         <div class="controls">
           <button class="btn btn-primary" type="submit"> 发 表 </button>&nbsp;&nbsp;
           <button class="btn">取 消</button>
           <small class="help-block">图片大小控制在2M以内</small>
         </div>
       </div>            
     </fieldset>
   </form>
  </div>
  </div>
  <div class="span4">
  <div class="panel">
     <div class="header">日记须知</div>
     <ul>
       <li>标题必填</li>
       <li>内容必填</li>
       <li>摘要必填(摘要显示在日记列表中)</li>
       <li>图片可以选择上传，或者不上传</li>
       <li>图片存储在其它的PHP空间(暂时放在本服务器中，使用缩略图的方式显示)</li>
       <li>上传图片应该选择一张能说明你的日志主旨的图片</li>
       <li>上传图片类型只能是 jpg,png,jpeg 之一</li>
       <li>每天只可以设定一篇私密日志哦</li>
     </ul>
  </div>
  </div>
  </div>

  <hr/>
<footer>
    <p>&copy; Company 2012</p>
</footer>
</div>

{% endblock %}
          

                

    
